<!doctype html>
<html ng-app="myapp">
  <head>
    <title>chicken connect</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.firebase.com/css/example.css">
    <style>
    #madeby {
      font-size: 11px;
    }
    html { 
  background: url(https://farm6.staticflickr.com/5533/9279338928_5edbca964a_z.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
}

body {
  background-color: none;
  background: none;
  color: white;
}

*{
  color: white;
}

h1, h2, h3, h4, h5, em{
  color: white;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/
}

    </style>
  </head>
  <body ng-controller="MyController">
    <div class="overlay">
    <h1>chicken connect</h1>
    <div id="usersDiv">
      <h3>connected users</h3>
      <div ng-repeat="user in users"><em>{{user.id}}</em>: is at {{user.lat.toFixed(3)}},{{user.lon.toFixed(3)}} scored: {{user.points}}</div>
      <!-- <div ng-repeat="(key, value) in users">{{key}}: is at {{value['lat']}},{{value['lon']}}</div> -->     
    </div>
    <h3>leaderboard</h3>
    <div id="leaderboard">
    </div><br/><br/><br/>
    <a href="/RandomThing.apk">
  <img alt="Get it on Google Play"
       src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
</a>
    <br/>
    <br/>
    <p id="madeby">
    <i>made by <a href="mailto:yasha.mostofi@gmail.com">yasha mostofi</a>, 
      <a href="mailto:briantruong777@gmail.com">brian truong</a>,
      <a href="mailto:sonofthebrownguy@gmail.com">kian fotovat</a>, and 
      <a href="mailto:stefan@stefanaleksic.com">stefan aleksic</a></i>
      <br/>at <a href="hackillinois.org">hackillinois</a>
    </p>
    <script>
      // constants
      var ACTIVITIES = ["20 push ups", "jump out a window", "touch other person's elbow the fastest"];

      var app = angular.module("myapp", ["firebase"]);
      var usersArray = [];

      function MyController($scope, $firebase) 
      {
        var ref = new Firebase("https://chickenapp.firebaseio.com/");
        $firebase(ref).$bind($scope, 'users');

        $scope.$watch('users', function () 
        {
          var index = 0;

          var cleanUsers = angular.fromJson(angular.toJson($scope.users));


          for (var userKey in cleanUsers)
          {
            var user = cleanUsers[userKey];
            usersArray[index] = new User (user['id'], user['lat'], user['lon'], user['points'], user['activity']);
            index++;
          }

          for (var i=0; i<usersArray.length; i++)
          {
            usersArray[i].checkUsers();
          }

          var activity_index = (Math.random() * ACTIVITIES.length) | 0;

          for (var i=0; i<usersArray.length; i++)
          {
            var t_activity = usersArray[i].getActivity();
            if ((t_activity === "false") && (usersArray[i].hasClose()))
            {
              var activity = ACTIVITIES[activity_index];
              var id = usersArray[i].getKey();
              var lat = usersArray[i].getLat();
              var lon = usersArray[i].getLon();
              var child = $scope.users.$child(id);
              // console.log(id);
              // console.log(activity);
              child.$update({'activity':activity});
            }
            if (t_activity === "success")
            {
              var id = usersArray[i].getKey();
              var child = $scope.users.$child(id);
              var newPoints = usersArray[i].getPoints() + 2;
              child.$update({'activity':'false','points':newPoints});
            }
            if (t_activity === "fail")
            {
              var id = usersArray[i].getKey();
              var child = $scope.users.$child(id);
              var newPoints = usersArray[i].getPoints() - 1;
              child.$update({'activity':'false','points':newPoints});
            }
          }

          var sorted_users = [];
          for (var i=0; i<usersArray.length; i++)
          {
            sorted_users[i] = usersArray[i];
          }

          for (var i=0; i<sorted_users.length; i++)
          {
            var max_user = sorted_users[i];
            var max_index = i;
            for (var j = i+1; j<sorted_users.length; j++)
            {
              if (sorted_users[j].getPoints() > max_user.getPoints())
              {
                max_index = j;
                max_user = sorted_users[j];
              }
            }
            var temp = sorted_users[i];
            sorted_users[i] = sorted_users[max_index];
            sorted_users[max_index] = temp;
          }

          var leaderboard = document.getElementById("leaderboard");
          var orig_html = leaderboard.innerHTML;
          var new_html = ''
          for (var i=0; i<sorted_users.length; i++)
          {
            var string = sorted_users[i].getKey() + " has a score of " + sorted_users[i].getPoints() + "</br>";
            new_html += string;
          }
          leaderboard.innerHTML = new_html;
        });
      }
      

      //ref.update({key : 'phone_number', etc.});
      

      function User (key, lat, lon, points, activity)
      {
        this.key = key;
        this.lat = lat;
        this.lon = lon;
        this.points = points;
        this.activity = activity;
        this.close_users = [];
        this.num_close_users = 0;
      }

      User.prototype.getLat = function ()
      {
        return this.lat;
      }

      User.prototype.getActivity = function ()
      {
        return this.activity;
      }

      User.prototype.getLon = function ()
      {
        return this.lon;
      }

      User.prototype.getKey = function ()
      {
        return this.key;
      }

      User.prototype.getPoints = function ()
      {
        return this.points;
      }

      User.prototype.checkSuccessClose = function ()
      {
        for (var close in this.close_users)
        {
          if (close.getActivity() != "success")
          {
            return false;
          }
          return true;
        }
      }

      User.prototype.checkFailClose = function ()
      {
        for (var close in this.close_users)
        {
          if (close.getActivity() != "fail")
          {
            return false;
          }
          return true;
        }
      }

      User.prototype.close_lat = function (latCheck)
      {
        if (Math.abs(latCheck - this.lat) < .5)
        {
          return true;
        }
        return false;
      }

      User.prototype.close_lon = function (lonCheck)
      {
        if (Math.abs(lonCheck - this.lon) < .5)
        {
          return true;
        }
        return false;
      }

      User.prototype.hasClose = function ()
      {
        if (this.close_users.length > 0)
        {
          return true;
        }
        return false;
      }

      User.prototype.checkUsers = function ()
      {

        this.close_users = [];
        this.num_close_users = 0;
        for (var i=0; i<usersArray.length; i++)
        {
          var t_lat = usersArray[i].getLat();
          var t_lon = usersArray[i].getLon();
          var t_key = usersArray[i].getKey();
          if (this.key != t_key)
          {
            if (this.close_lat(t_lat) && this.close_lon(t_lon))
            {
              this.close_users[this.num_close_users]=usersArray[i];
              this.num_close_users++;
            }
          }

        }
      }

    </script>
  </div>
  </body>
</html>